.img1{
    position:absolute;
}
.img2{
    position:absolute;
    margin-top: 0;
    margin-left: 210px;
}
.img3{
    position:absolute;
    margin-top: 0;
    margin-left: 420px;
}
.img4{
    position:absolute;
    margin-top: 0;
    margin-left: 630px;
}
.img5{
    position:absolute;
    margin-top: 0;
    margin-left: 840px;
}

.img6{
	position:absolute;
	
}
.img7{
	position:absolute;
	margin-left: 210px;
}
.img8{
	position:absolute;
	margin-left: 420px;
}
.img9{
	position:absolute;
	margin-left: 630px;
}
.img10{
	position:absolute;
	margin-left: 840px;
}




